
:root {
    --previous-color-text: #2E2F42;
    --second-color-text: #434455;
        --timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
            --timing-duration: 250ms;
}

/* General */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--previous-color-text);
    letter-spacing: 0.02em;

}

.comment-text {
    resize: none;
}
.container {
        padding: 0 16px 0 16px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
       
}

img {
    display: block;
}
h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
}


.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--timing-duration) var(--timing-animation),
                color var(--timing-duration) var(--timing-animation);
}
.link {
    text-decoration: none;
    transition: color var(--timing-duration) var(--timing-animation);
                
}



.list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.title-med {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.title-big {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.title-body-medium {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

}


.title-body {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--second-color-text);
}



/* Header */

.header {
                border-bottom: 1px solid #E7E9FC;
                    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                        0px 1px 1px rgba(46, 47, 66, 0.16),
                        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
            padding-top: 24px;
            padding-bottom: 24px;

        }

/* Logo */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    

}


.logo-studio-header {
    color: var(--previous-color-text);
}

.logo:visited .logo-studio-header {
    color: var(--previous-color-text);
}

.icon-menu {
    stroke: var(--previous-color-text);
}

.site-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--previous-color-text);
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: #4D5AE5
}

/* Adress */



.adress-item-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

}

.adress-item-link:hover,
.adress-item-link:focus {
    color: #4D5AE5;
}

/* Hero */


.hero {
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--previous-color-text);
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url('../images/mobile-396-280-1px/hero-mobile-428x432-1px.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}





/* Screen 2px - before 768px */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), 
                url('../images/mobile-396-280-2px/hero-mobile-428x432-2px.jpg');
    }
}


/* Tablet hero image */

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url('../images/tablet-356-300-1px/hero-tablet-768x436-1px.jpg');
    }
}

/* Tablet hero image 2px */

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url('../images/tablet-356-300-2px/hero-tablet-768x436-2px.jpg');
    }
}


/* Desktop hero image */

@media screen and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url('../images/desktop-360-300-1px/hero-desktop-1440x600-1px.jpg');
    }
}

/* Desktop hero image 2px */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url('../images/desktop-360-300-2px/hero-desktop-1440x600-2px.jpg');
    }
}


.hero-title {
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;



}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    margin-top: 88px;
    width: 169px;
    padding-top: 16px ;
    padding-bottom: 16px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    
}

.hero-button:hover,
.herobutton:focus {
    background: #404BBF;
}


/* Backdrop */
/* Modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    background: rgba(46, 47, 66, 0.4);
    transition: visibility var(--timing-duration) var(--timing-animation),
        opacity var(--timing-duration) var(--timing-animation);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-window {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1) rotateZ(1turn);
    transition: transform var(--timing-duration) var(--timing-animation);
    background-color: #FCFCFC;
    padding: 72px 16px 24px 16px;
    min-width: 320px;
    min-height: 586px;
}

.modal-text {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0);
}

.modal-window-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color var(--timing-duration) var(--timing-animation);
}

.modal-window-button:hover .modal-window-icon {
    fill: #FFFFFF;
}

.modal-window-button:hover {
    background-color: #404BBF;
}

.modal-window-button:active {
    background-color: #404BBF;
}

.modal-window-icon {
    transition: fill var(--timing-duration) var(--timing-animation);
}

.modal-window-icon {
    fill: #2E2F42;
}

.modal-window-button:active .modal-window-icon {
    fill: #FFFFFF;
}

/* Form */

.form-container {
    margin-top: 16px;

}

.form-container .form-part-text {
    margin-top: 4px;
    padding-left: 24px;
        font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            padding-top: 8px;
            padding-bottom: 8px;
}

.form-part {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 8px;
}

.form-part-name {
    padding-top: 0;
}

.form-part-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}



.form-part-text {
    background-color: #FCFCFC;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border var(--timing-duration) var(--timing-animation);
}

.form-part-text:focus {
    outline: none;
    border: 1px solid #4D5AE5;
}

.form-part-text:focus+.form-icon {
    fill: #4D5AE5;
}

.comment-text {
    background-color: #FCFCFC;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border var(--timing-duration) var(--timing-animation);
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-block-end: 8px;
    padding-block-start: 8px;
        font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            margin-top: 4px;
            height: 120px;
}

.comment-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    letter-spacing: 0.04em;
}

.comment-text:focus {
    outline: none;
    border: 1px solid #4D5AE5;
}

.policy-container {
    text-align: left;
    margin-top: 18px;
}




.policy-label {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}


.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
        width: 16px;
            height: 16px;
}

.checkbox:checked+.accept-icon {
    background-color: #404BBF;
    border-color: #404BBF;

}

.form-icon {
    position: absolute;
    bottom: 4px;
    left: 6px;
    fill: #2E2F42;
    transition: fill var(--timing-duration) var(--timing-animation);

}

.accept-icon {

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: rgba(244, 244, 253, 1);
    background-color: #FFFFFF;
    transition: background var(--timing-duration) var(--timing-animation),
        border-color var(--timing-duration) var(--timing-animation);
}

.policy-text {
    margin-left: 8px;
}

.link-policy {
    text-decoration: underline;
}

.link-policy:visited {
    color: #4D5AE5;
}

.modal-button {
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: white;
    padding: 15px 32px;
    margin-top: 24px;
    width: 169px;
}

.modal-button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
/* Features */
.section-feature {
    padding-top: 96px;
    padding-bottom: 96px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    text-align: center;
}

 .feature-icons {
     display: none;
 }



/* Features */



.feature-container-text {
    margin-top: 8px;
    padding-left: 0;
    text-align: start;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

        
    
.doing {
     display: none;
        }






.our-team {
    text-align: center;
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #F4F4FD;
}

.team-part{
    width: 264px;
}

.team-part {
    padding-bottom: 32px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.team-list {
    margin-top: 72px;
    
}




.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    
}




.social-icon {
    fill: #F4F4FD;
}



.social-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background var(--timing-duration) var(--timing-animation);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.name-team {
    margin-top: 32px;
}

.team-profession {
    margin-top: 8px;
    font-weight: 400;
}

.social-list {
    margin-top: 8px;
}




/* Customers */


.customers {
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
   
}

.customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 16px;
    margin-top: 72px;
}

.customers-list-item {
   display: block;
}




.customers-list-link {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 16px 40px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border-color var(--timing-duration) var(--timing-animation);
}

.customers-list-link:hover,
.customers-list-link:focus {
    border-color: #404BBF;
}


.customers-list-link:hover  .logo-companys,
.customers-list-link:focus  .logo-companys{
    fill: #404BBF
}


.logo-companys {
    fill: #8E8F99;
    transition:  fill var(--timing-duration) var(--timing-animation)
}

/* Footer */

.footer {
    background-color: var(--previous-color-text);
    color: white;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 96px;
}




/* Logo */



.logo-studio-footer {
    color: white;
}

.footer-text {
    
    color: #F4F4FD;
}

/* Social container */

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31D0AA;
}
.social-text {
    font-weight: 500;
}

/* Subscribe */
.subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}




.footer-mail-input {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    opacity: 0.3;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    height: 40px;
    color: white;
}


.footer-mail-input::placeholder {
    color: #FFFFFF;
    opacity: 0.6;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}


.subscribe-button {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #4D5AE5;
    color: white;
    width: 165px;
    padding: 8px 24px;
    gap: 16px;
    border: none;
}



/* Portfolio */


/* Filters */

.filter-list {
    display: flex;
    gap: 24px;

    
}
.filter-button {
    background-color: #F4F4FD;
    color: #4D5AE5;
    padding: 8px 16px;
    border: 1px solid #E7E9FC;
    box-sizing: content-box;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #404BBF;
    color: white;
}

/* Content */




.parrent {
    position: relative;
    overflow: hidden;

}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    bottom: 0;
    transform: translate(0, 100%);
    background-color: #4D5AE5;
    color: #F4F4FD;
        padding-top: 40px;
            padding-left: 32px;
            padding-right: 32px;

            transition: transform var(--timing-duration) var(--timing-animation);
    
}



.content-list-title {
    color: var(--previous-color-text);
}

.content-list-item {
    width: calc((100% - 48px) / 3);
}

.photo-link {
    display: block;
}

.photo-link:hover,
.photo-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.photo-link:hover .overlay,
.photo-link:focus .overlay {
    transform: translateY(0);
}

.content-list {
    display: flex;
    flex-direction: column;
   align-items: center;

}

.content-list-item {
        border: 1px solid #F4F4FD;

}

.container-content-info {
    padding: 32px 16px;
    border : 1px solid #E7E9FC;
    border-top: none;
}

.content-list-title {
   
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
}

.content-list-text {
    margin-top: 8px;
    color: var(--second-color-text);
    

}



/* After 428 */
@media screen and (min-width: 428px) {
    .form-container {
        width: 392px;
    }
}


/* Vision before 767px */
@media screen and (max-width: 767px) {
    
    /* General */




/* Header */
.container {
    max-width: 428px;
}
.header-container {
    display: flex;
    justify-content: space-between;
}

.site-nav {
    display: none;
}

.adress {
    display: none;
}
    
/* Hero */



/* Footer */
.footer-mail-input {
    width: 100%;
    margin-bottom: 16px;
}

.footer-text {
    margin-top: 16px;
}
/* Hero */
.hero-title {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}


/* Features */
   
    .feature-list-item {
        max-width: 396px;
    }
    .feature-list-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .feature-list {
        justify-content: center;
    }

    
/* Our-team */

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;

}




/* Customers */
.customers-list-item {
    max-width: 190px;
}

.customers-list>.customers-list-item:nth-child(2n) {
    padding-right: calc((100% - 24px - (190px * 2)) / 2);
}
    
.customers-list>.customers-list-item:nth-child(2n + 1) {
    padding-left: calc((100% - 24px - (190px * 2)) / 2);
}



}
    /* Footer */
/* First part */
.part-footer-first {
  max-width: 268px;
  margin-left: auto;
  margin-right: auto;
  
}

.footer-text {
    text-align: left;
}

/* Social list */
        .footer-social-container {
            margin-top: 72px;
         }


        .social-list-footer {
            margin-top: 16px;
        }
    
        /*Subscribe */
    
        .subscribe-container {
            margin-top: 72px;
    
        }

        .subscribe-button {
            margin-left: auto;
            margin-right: auto;
        }

/* Subscribe */
.footer-mail-input {
    max-width: 398px;
}

        /* Portfolio */
        .portfolio-main {
            padding-top: 48px;
            padding-bottom: 48px;
        }

        .filter-list {
            flex-wrap: wrap;
            padding-bottom: 48px;
        }
      
/* Content */
.content-list-item {
    width: 396px;
}
    .photo-content {
        width: 100%;
    }
        .overlay {
            display: none;
        }

 
    

/* От 768 до 1157 */
    @media screen and (min-width: 768px) and (max-width: 1157px) {


        .container {
            max-width: 768px;
        }

        /* Header */

        .header-container {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .site-nav {
            margin-left: 120px;
        }

        .site-nav-link {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .current::after {
            content: '';
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: -29px;
            left: 0;
            background-color: #404BBF;
            border-radius: 4px;
        }

        /* Adress */
     .adress {
        display: flex;
        flex-direction: column;
        gap: 12px;
    
     }
       /* Features */
       
     /* Footer */
     .footer-container {
        padding-left: 108px;
        padding-right: 108px;

     }
       /* Portfolio */
        .portfolio-main {
            padding-bottom: 96px;
            
        }



       /* Filters */
       .filter-list {
        margin-top: 64px;
        margin-bottom: 64px;
        
       }

    /* Content */
    .overlay {
        display: none;
    }
    }

    

    



    @media screen and (min-width: 768px) {
        /* Header */

        
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .menu-toggle {
            display: none;
        }
        .menu-container {
            display: none;
        }
/* Nav */
.site-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}




    .icon-menu {
            display: none;
        }
    
    .site-nav-item {
        position: relative;
    }


    /* Adress */

    .adress {
        display: flex;
        font-style: normal;
    }
    /* Hero */

    .hero-title {
        width: 496px;
        margin-left: auto;
        margin-right: auto;
        font-size: 56px;
        line-height: 1.07;
    }

        /* Features */

        .feature-list {
            display: flex;
            gap: 72px 24px;
        }

        .feature-title {
            text-align: start;
        }

        .feature-list-item {
            width: 356px;
           
        }
        /* Our team */

        .our-team .container {
            padding-left: 108px;
            padding-right: 108px;
        }
        
        .team-list {
            display: flex;
            flex-wrap: wrap;
            gap: 64px 24px;
          
        }
        
        /* Customers */
        .customers-list {
            gap: 72px 24px;
        }
        
        .customers-list-link {
            padding-left: 32px;
            padding-right: 32px;
        }
        .logo-companys {
            width: 104px;
        }
            /* Footer */

            .footer {
        text-align: start;
            }
.footer-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 72px 24px;
   
}

            .part-footer-first {
                display: inline-block;
                text-align: start;
                width: 264px;
                margin-left: 0;
                margin-right: 0;
                
            }

            .footer-text {
                margin-top: 16px;
            }

            .footer-social-container {
                display: inline-block;
                width: 208px;
                margin-right: 0;
                margin-top: 0;
               
            }

            .social-list-footer {
                gap: 16px;
            }

            .subscribe-container {
                width: 453px;
                margin: 0;
 
            }

            .footer-mail-input {
                width: 264px;
                margin-bottom: 0;
            }

            .subscribe-form {
                display: flex;
                gap: 24px;
            }

           



            /* Portfolio */

           

            .filter-list {
                justify-content: center;
            }

            .content-list {
               flex-direction: row;
               flex-wrap: wrap;
               gap: 72px 24px;
            }

            .content-list-item {
                width: 356px;
            }

     }



     @media screen and (min-width: 1158px) {
        .container {
            max-width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
        }

      
           

    /* Header */
  
    .header-container {
        display: flex;
        align-items: center;
        
    }

        .current:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: -25px;
            border-radius: 4px;
            background-color: #404BBF;
        }




.site-nav {
    margin-left: 76px;
  
}

.site-nav-link {
    padding-top: 24px;
    padding-bottom: 24px;

}
           /* Adress */
    .adress {
    gap: 40px;
        }

    .adress-item-link {
        font-size: 16px;
        line-height: 1.5;
    }
/* Hero */
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
}

/* Feauters */

.section-feature {
    padding-bottom: 120px;
    padding-top: 120px;
}

.feature-icon-bg {
    background-color: #F4F4FD;
    border-radius: 4px;
}
.feature-icons {
    display: inline-block;
    margin: 24px 100px;
}
.feature-title {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.feature-list-item {
    width: 264px;
}
/* What are we doing */
.doing {
    display: block;
    text-align: center;
    padding-bottom: 120px;
}

.title-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
}

.doing-list {
    
    margin-top: 72px;
    display: flex;
    gap: 24px;
}
.doing-item {
    border: 1px solid #E7E9FC;
}
.doing-photo {
    display: block;
}
/* Our team */

.our-team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team .container {
    padding-left: 15px;
    padding-right: 15px;
}

/* Customers */
.customers {
    padding-bottom: 120px;
    padding-top: 120px;
}
.customers-list-item {
    display: block;
    width: 168px;
}

.customers-list-link {
    padding: 16px 32px;
}

.logo-companys {
    width: 104px;
}

/* Footer */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container {
    gap: 0;
}
.part-footer-first {
    margin-right: 0;
}
.footer-social-container {
    margin-left: 120px;
}

.subscribe-container {
    margin-left: 80px;
}

.footer-mail-input {
   border-color: white;
   opacity: 1;
}

.footer-mail-input:placeholder {
    opacity: 1;
}

/* Portfolio */
.portfolio-main {
    padding-top: 100px;
    padding-bottom: 120px;
}

/* Content */
.content-list {
    margin-top: 72px;
    gap: 48px 24px;
}
 .overlay {
     display: block;
 }

}


/* Mobile - menu */

.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    z-index: 999;
    background-color: white;
    transform: translateX(100%);
    transition: transform var(--timing-duration) var(--timing-animation);
    overflow: scroll;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-toggle.js-open-menu {
    background-color: white;
    border: none;
    padding: 0;
}

.menu-toggle.js-close-menu {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(46, 47, 66, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 233,252, 0.1);
    padding: 0;
    transition: background-color var(--timing-duration) var(--timing-animation);
    
    
}

.icon-close {
    fill: var(--previous-color-text);
    transition: fill var(--timing-duration) var(--timing-animation);
}

.js-close-menu:hover .icon-close,
.js-close-menu:focus .icon-close {
    fill: white;
}

.menu-toggle.js-close-menu:hover,
.menu-toggle.js-close-menu:focus {
    background-color:  #404BBF;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    
    list-style: none;
}

.mobile-menu .link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-decoration: none;
    color: var(--previous-color-text);
}

.mobile-menu .link:visited {
    color: var(--previous-color-text);
}

.mobile-menu .link.contacts-link {
    color: #404BBF;
}


.mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.mobile-adress-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.mobile-tel {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.11;
    color: #4D5AE5;

@media screen and (min-width: 420px){
    font-size: 36px;
}
}



.mobile-mail {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--second-color-text);
    
}

.mobile-menu-contacts .social-list {
    margin-top: 0;
}
.menu-container .social-list {
   margin-right: auto;

}
     




